<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{pageTitle}}</mat-card-title>
    <mat-card-subtitle>Estudos do Allan</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./../../../assets/images/ff7.jpeg" alt="Photo">
  <mat-card-content>
    <div class="text-center">Developed by:</div>
    <div class="text-center">
      <h3>Allan Passos</h3>
    </div>
    <div class="text-center">@allanpassos</div>
    <div class="text-center">
      <a href="https://github.com/allansuru">my git</a>
    </div>

  </mat-card-content>
</mat-card>
